<!DOCTYPE html>
<html lang="zh-CN">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>开始答题</title>
      <link rel="stylesheet" type="text/css" href="../../static/css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="../../static/css/style.css">
      <script src="../../static/js/jquery.min.js"></script>
      <!--bootstrap核心js-->
      <script src="../../static/js/bootstrap.min.js"></script>
      <style>
        .cate {
            padding-bottom: 20px;
        }
        .modal-dialog {
            padding-top : 200px;
        }
    </style>
    <style>  
        .yz{
            width: 60%;
            height: 50px;
            line-height: 50px;
            display: inline-table;
        }
        .yz_code{
            float: left;
            width: 140px;
            text-align: center;
            height: 100%;
            border: 1px solid #000;
            margin-right: 20px;
        }
        button{
            margin-top: 24px;
            font-size: 16px;
            border: none;
            background: transparent;
            border-bottom: 1px solid blue;
        }
    </style>
  </head>
  <body>
  <div class="main-container">
    <div class="top-container" >
        <div class="newIndex-header container" style="background-image: url('../../static/images/logo.png');">
        <!--nav_menu-->

        <ul id="nav_menu" class="nav_menu clearfix">
            <li class="nLi no">
                <h3>
                    <a  href="../web/index.html">首页</a>
                </h3>
            </li>
            <li class="nLi">
                <h3>
                    <a  href="../setgames/bank.html">快速出题</a>
                </h3>
            </li>
            <li class="nLi">
                <h3>
                    <a  href="../bussiness/index.html">成为机构</a>
                </h3>
            </li>
            <li class="nLi" id='login1'>
                
            </li>
            <li class="nLi login" id='logout1'>
                
            </li>
        </ul>
        <!--end nav_menu -->
        </div>
    </div>
  <div class="modal" id="signInModalNormal" tabindex="-1" role="dialog" aria-labelledby="signInModalNormalLabel">
      <form id="emailLogin">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="signInModalNormalLabel">登录</h4>
      </div>
      <div class="modal-body">
        <form>
            <div class="form-group">
                <label for="signInId" >账号</label>
                <input type="text" class="form-control" id="signInId" placeholder="" name='username'>
            </div>
            <div class="form-group">
                <label for="signInPassword" >密码</label>
                <input type="password" class="form-control" id="signInPassword" placeholder="" name='password'>
            </div>
            <div class="form-group">
                <label for="signInVcode" >验证码</label><br>
                <input type="text" class="form-control" id="signUpVcode" style="width: 150px;display: inline-block;" placeholder="">
                <div class="yz">
                    <div class="yz_code"></div>
                    <b class="btn"></b>
                </div>
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <a href="http://127.0.0.1:8000/login/weibo/">微博登录 </a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a href="#" id="resetPassword" style="margin-right: 10px;" >忘记密码？</a>
          <a href="#" id="signUp" style="margin-right: 30px;" >注册</a>
          <button type="button" class="btn btn-primary" id="signInPost">登录</button>
      </div>
    </div>
  </div>
  </form>
  </div>

  <div class="modal" id="signUpModal" tabindex="-1" role="dialog" aria-labelledby="signUpModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="signUpModalLabel">注册</h4>
      </div>
      <div class="modal-body">
        <form>
            <div class="form-group">
                <label for="signUpId" >邮箱</label>
                <input type="text" class="form-control" id="signUpId" placeholder="hugo.zhang@example.com">
            </div>
            <div class="form-group">
                <label for="signUpPassword" >密码</label>
                <input type="password" class="form-control" id="signUpPassword" placeholder="#p@ssw0d123">
            </div>
            <div class="form-group">
                <label for="signUpPasswordAgain" >确认密码</label>
                <input type="password" class="form-control" id="signUpPasswordAgain" placeholder="#p@ssw0d123">
            </div>
            <div class="form-group">
                <label for="signUpVcode" >验证码</label>
                <input type="text" class="form-control" id="signUpVcode" placeholder="">
                <img id="signUpVcodeImg" src="" style="height: 50px;width: 150px;" />
            </div>
        </form>
      </div>
      <div class="modal-footer">
          <a href="#" id="signIn" style="margin-right: 30px;" >已有账户，去登录</a>
          <button type="button" class="btn btn-primary" id="signUpPost">注册</button>
      </div>
    </div>
  </div>
  </div>

  <div class="modal" id="resetPasswordModal" tabindex="-1" role="dialog" aria-labelledby="resetPasswordModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="resetPasswordLabel">重置密码</h4>
      </div>
      <div class="modal-body">
        <form>
            <div class="form-group">
                <label for="resetId" >邮箱</label>
                <input type="text" class="form-control" id="resetId" placeholder="hugo.zhang@example.com">
            </div>
            <div class="form-group">
                <label for="resetNewPassword" >新密码</label>
                <input type="password" class="form-control" id="resetNewPassword" placeholder="p@ssw0rd123">
            </div>
            <div class="form-group">
                <label for="resetNewPasswordAgain">再次输入密码</label>
                <input type="password" class="form-control" id="resetNewPasswordAgain" placeholder="p@ssw0rd123">
            </div>
            <div class="form-group">
                <p style="color: red">邮件发送后，请在三十分钟之内登录邮箱确认!</p>
            </div>
        </form>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="resetPost">发送邮件</button>
      </div>
    </div>
  </div>
  </div>
  <!-- loading -->
    <div class="modal fade" id="resetPasswordLoading" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop='static'>
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">提示</h4>
                </div>
                <div class="modal-body">
                    <h1>正在发送邮件中...</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="main-content container">
        <div class="position toInWhere">
            <b>当前位置：</b><span>
                <a onclick="history.back(-1)">比赛信息</a>
            </span>&nbsp;&gt;&nbsp;<span class='title'></span>
        </div>
        <div class="inner-content">
            <div class="border teston mb-15 zycs_ceshi" style="display: block;">
                    <div class="teston-top">
                        <img src="/static/images/teston-top.jpg">
                        <h1 class=title></h1>
                        <div class="process">
                            <span class="n2">倒计时：<span id='max_time'></span>秒</span>
                            <span class="n2" style="color:#e4653d" id="timetext"></span>
                        </div>
                    </div>
            <p class="lead" style="color: #337ab7;" id='message_title'>
                &nbsp;&nbsp;<label id="question"></label>
            </p>
            <div id="choiceBox" class="checkbox" style="border: #31b0d5;padding-left:40%;font-size:18px;">
                <div class="hidden">
                    <label>
                        <input type="radio" name="itemRadios" id="itemRadioPk" value="pk">
                        <label id="itemPk"></label>
                    </label>
                </div>
            </div>
            
            <div style="margin-top: 80px;text-align:center">
                <div id="preQuestion" class="btn btn-primary">后退</div>
                <div id="nextQuestion" class="btn btn-primary" style="margin-left: 110px;">前进</div>
                <button class="btn btn-danger" type="button" style="margin-left: 110px;" id="answerSubmit" value="交卷" >交卷</button>
            </div>
            </div>
        </div>
    <!-- loading -->
    <div class="modal fade" id="loadingModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop='static'>
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">提示</h4>
                </div>
                <div class="modal-body">
                    <h1>正在准备题库...</h1>
                </div>
            </div>
        </div>
    </div>
</div>
    <script type="text/javascript">
    $.ajaxSetup({
        data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
    });
    var currentPage = 1;
    var hasPrevious = false;
    var hasNext = false;
    var questionNum = 0;
    var response;
    var answerDict;
      $(document).ready(function () {
          if({{ period_time|safe }}) {
              startTimer1();
          }
          $('#loadingModal').modal('show');
          uid = '{{ user_info.uid|safe }}';
          kind_id = '{{ kind_id|safe }}';
          $.ajax({
              url: '/api/questions',
              type: 'get',
              data: {
                  'uid': uid,
                  'kind_id': kind_id
              },
              dataType: 'json',
              success: function (res) {
                  response = res;
                  questionNum = res.data.kind_info.question_num;
                  answerDict = new Array(questionNum);
                  for(var i=0; i < questionNum; i++){
                      if(response.data.questions[i].qtype === 'choice') {
                          answerDict['c_' + response.data.questions[i].pk] = '';
                      }else{
                          answerDict['f_' + response.data.questions[i].pk] = '';
                      }
                  }
                  // 取答案中的第一个值
                  if(res.data.questions[0].qtype === 'choice') {            // 选择题的情况
                      $('#question').html(res.data.questions[0].question);  // currentPage - 1
                      $('#item1').html(res.data.questions[0].items[0]);
                      $('#item2').html(res.data.questions[0].items[1]);
                      $('#item3').html(res.data.questions[0].items[2]);
                      $('#item4').html(res.data.questions[0].items[3]);
                      $('#itemPk').html('c_' + res.data.questions[0].pk);
                      hasNext = (currentPage < questionNum);
                      $('#fullinBox').hide();
                  } else{                                                    // 填空题的情况
                      $('#question').html(res.data.questions[0].question.replace('##', '______'));
                      $('#answerPk').val('f_' + res.data.questions[0].pk);
                      hasNext = (currentPage < questionNum);
                      $('#choiceBox').hide();
                  }
                  $('#loadingModal').modal('hide');
              }
          });
          // 点击前进的情况
          $('#preQuestion').click(function () {
              if(hasPrevious){
                  removeChecked();
                  clearInputData();
                  currentPage = currentPage - 1;
                  if(response.data.questions[currentPage - 1].qtype === 'choice') {
                      $('#choiceBox').show();
                      var pk = response.data.questions[currentPage - 1].pk;
                      $('#question').html(response.data.questions[currentPage - 1].question);
                      $('#item1').html(response.data.questions[currentPage - 1].items[0]);
                      $('#item2').html(response.data.questions[currentPage - 1].items[1]);
                      $('#item3').html(response.data.questions[currentPage - 1].items[2]);
                      $('#item4').html(response.data.questions[currentPage - 1].items[3]);
                      $('#itemPk').html('c_' + response.data.questions[currentPage - 1].pk);
                      // 记住之前的选项
                      if (answerDict['c_' + pk]) {
                          if (answerDict['c_' + pk] === "A") {
                              $('#itemRadio1').prop('checked', true);
                          }
                          if (answerDict['c_' + pk] === "B") {
                              $('#itemRadio2').prop('checked', true);
                          }
                          if (answerDict['c_' + pk] === "C") {
                              $('#itemRadio3').prop('checked', true);
                          }
                          if (answerDict['c_' + pk] === "D") {
                              $('#itemRadio4').prop('checked', true);
                          }
                      }
                      $('#fullinBox').hide();
                      hasPrevious = currentPage > 1;
                      hasNext = currentPage < questionNum
                  }else{
                      var pk2 = response.data.questions[currentPage - 1].pk;
                      $('#fullinBox').show();
                      $('#question').html(response.data.questions[currentPage - 1].question.replace('##', '______'));
                      $('#answerPk').val(response.data.questions[currentPage - 1].pk);
                      if(answerDict['f_' + pk2]) {
                          $('#answerF').val(answerDict['f_' + pk2]);
                      }
                      $('#choiceBox').hide();
                      hasPrevious = currentPage > 1;
                      hasNext = currentPage < questionNum
                  }
              }else{
                  alert('没有题目了');
              }
          });
          // 点击后退的情况
          $('#nextQuestion').click(function () {
              if(hasNext){
                  removeChecked();
                  clearInputData();
                  currentPage = currentPage + 1;
                  if(response.data.questions[currentPage - 1].qtype === 'choice') {
                      $('#choiceBox').show();
                      var pk = response.data.questions[currentPage - 1].pk;
                      $('#question').html(response.data.questions[currentPage - 1].question);
                      $('#item1').html(response.data.questions[currentPage - 1].items[0]);
                      $('#item2').html(response.data.questions[currentPage - 1].items[1]);
                      $('#item3').html(response.data.questions[currentPage - 1].items[2]);
                      $('#item4').html(response.data.questions[currentPage - 1].items[3]);
                      $('#itemPk').html('c_' + response.data.questions[currentPage - 1].pk);
                      if (answerDict['c_' + pk]) {
                          if (answerDict['c_' + pk] === "A") {
                              $('#itemRadio1').prop('checked', true);
                          }
                          if (answerDict['c_' + pk] === "B") {
                              $('#itemRadio2').prop('checked', true);
                          }
                          if (answerDict['c_' + pk] === "C") {
                              $('#itemRadio3').prop('checked', true);
                          }
                          if (answerDict['c_' + pk] === "D") {
                              $('#itemRadio4').prop('checked', true);
                          }
                      }
                      $('#fullinBox').hide();
                      hasPrevious = currentPage > 1;
                      hasNext = currentPage < questionNum
                  }else{
                      var pk1 = response.data.questions[currentPage - 1].pk;
                      $('#fullinBox').show();
                      $('#question').html(response.data.questions[currentPage - 1].question.replace('##', '______'));
                      $('#answerPk').val(response.data.questions[currentPage - 1].pk);
                      if(answerDict['f_' + pk1]) {
                          $('#answerF').val(answerDict['f_' + pk1]);
                      }
                      $('#choiceBox').hide();
                      hasPrevious = currentPage > 1;
                      hasNext = currentPage < questionNum
                  }
              }else{
                  alert('没有题目了');
              }
          });
          $('#itemRadio1').click(function () {
              var pk = $('#itemPk').html();
              answerDict[pk] = "A";
          });
          $('#itemRadio2').click(function () {
              var pk = $('#itemPk').html();
              answerDict[pk] = "B";
          });
          $('#itemRadio3').click(function () {
              var pk = $('#itemPk').html();
              answerDict[pk] = "C";
          });
          $('#itemRadio4').click(function () {
              var pk = $('#itemPk').html();
              answerDict[pk] = "D";
          });
          $('#answerF').on('change', function () {
              var pk = response.data.questions[currentPage - 1].pk;
              var vl = $('#answerF').val().trim();
              if(vl !== ''){
                  answerDict['f_' + pk] = vl;
              }
          });
          // 提交答案
         $('#answerSubmit').click(function () {
             if(window.confirm("确认提交答案吗?")) {
                 if({{ period_time|safe }}) {
                     stopTimer1();
                 }
                 var answer = "";
                 for (var key in answerDict) {
                     if (!answer) {
                         answer = String(key) + "," + answerDict[key] + "#";
                     }else{
                         answer += String(key) + "," + answerDict[key] + "#";
                     }
                 }
                 $.ajax({
                     url: '/api/answer',
                     type: 'post',
                     data: {
                         'qa_id': response.data.qa_id,
                         'uid': response.data.user_info.uid,
                         'kind_id': kind_id,
                         'answer': answer
                     },
                     dataType: 'json',
                     success: function (res) {
                         if(res.status === 200) {
                             window.location.href = "/bs/result?uid=" + res.data.user_info.uid + "&kind_id=" + res.data.kind_id + "&qa_id=" + res.data.qa_id;
                         }else{
                             alert('提交失败');
                         }
                     }
                 })
             }else {}
         })
      });

    function clearInputData() {
        $('#answerF').val('');
    }

    function removeChecked() {
        $('#itemRadio1').prop('checked', false);
        $('#itemRadio2').prop('checked', false);
        $('#itemRadio3').prop('checked', false);
        $('#itemRadio4').prop('checked', false);
    }

    /// 初始化: 248分钟 = 4 小时 7 分钟 59 秒 1000 毫秒
    var hour,minute,second;//时 分 秒
    var periodTime = {{ period_time|safe }};  // 后台配置时间(单位：min)
    hour = parseInt(periodTime / 60);
    minute = periodTime - (hour * 60) - 1;
    second = 60;
    var int;
    var notice = false;

    totalSeconds = periodTime * 60;  // 总秒数

    function startTimer1() {
        int = setInterval(timer1, 100);
    }

    function timer1() {
        totalSeconds -= 0.1;
        if(totalSeconds<=0){
            stopTimer1();
        }else {
            hour = parseInt(totalSeconds / 3600);
            minute = parseInt((totalSeconds - hour * 3600) / 60);
            second = totalSeconds - hour * 3600 - minute * 60;
        }
        if(totalSeconds<=300 && !notice){
            notice = confirm("您只剩下不到五分钟的答题时间，超时将不计入排行榜。");
        }
        if(totalSeconds < 0){
            notice = confirm("您已超时，考试成绩不计入排行榜。");
            window.history.back(-1);
        }
        $("#timetext").text(hour+'时'+minute+'分'+Math.ceil(second)+'秒');
    }

    function stopTimer1() {
        window.clearInterval(int);
    }
    </script>
    
    <div class="footer">
    <div class="footer-nav">
        <a href="/index">首页</a>|
        <a href="http://www.mingrisoft.com">明日学院官网</a>|
        <a href="https://mall.jd.com/index-1000117165.html">明日科技京东自营店</a>|
        <a href="https://shop573124214.taobao.com">明日科技官方淘宝店铺</a>
    </div>
    <div id="j_footer" class="copy">吉林省明日科技有限公司&nbsp;&nbsp;&nbsp;&nbsp;
        <br>吉ICP备10002740号-2 &nbsp;增值电信业务经营许可证 吉B2-20150068
    </div>
  </div>
  </div>
  <script type="text/javascript">
    $(function(){
        var jwt = document.cookie.match('jwt=([^;]*)(;|$)')
        var user = document.cookie.match('user=([^;]*)(;|$)')
    
        var type1 = false;
            function rnd(start,end){
                    return Math.floor(Math.random()*(end-start+1))+start;
                }
    
                var str ="0123456789abcdefghijklmnopqrstuvwxyz";
                // 生成6位数字验证码
                function code(){
                    var arr = [];
                    for(var i = 0;i<6;i++){
                        arr[i] = str.charAt(rnd(0,str.length-1));
                    }
                    // 将数组转化为字符串
                    res = arr.join("")
                    $('.yz_code').html(res);
                }
            // 首次进入时展示的验证码
                code();
                $('.yz_code').click(function() {
                    code();
                    
                });
         
        if (jwt){   
            if (jwt[1] != 0){
                $('#login1').append('<h3><a href="#" title="用户信息">'+user[1]+'</a></h3>')
                $('#logout1').append('<h3><a id="logout" title="点击退出">注销</a></h3>')
                $('#logout').click(function(){
                    document.cookie = 'jwt=0' + ";expires=-1;path=/";
                    document.cookie = 'user=0' + ";expires=-1;path=/";
                    location.reload()
                })
            }else{
                $('#login1').append('<h3><a id="log">登 录</a></h3>')
                $('#log').click(function(){
                    $('#signInModalNormal').modal('show');
                    $('#signInPost').click(function(){
                        if ($('#signUpVcode').val() == res){
                            $.ajax({
                                type:'post',
                                url:'http://127.0.0.1:8000/login/',
                                dataType:'json',
                                data:$('#emailLogin').serialize(),
                                success:function(data){
                                    console.log(data)
                                    var exp = new Date();
                                    exp.setTime(exp.getTime() + 60 * 30000);//过期时间 30分钟
                                    document.cookie = 'jwt=' + escape(data['token']) + ";expires=" + exp.toGMTString() + ";path=/";
                                    document.cookie = 'user=' + escape(data.user['username']) + ";expires=" + exp.toGMTString() + ";path=/";
                                    location.reload()
                                }
                            })
                        }
                    })
                })
            }
        }else{
            $('#login1').append('<h3><a id="log">登 录</a></h3>')
            $('#log').click(function(){
                $('#signInModalNormal').modal('show');
                $('#signInPost').click(function(){
                    if ($('#signUpVcode').val() == res){
                        $.ajax({
                            type:'post',
                            url:'http://127.0.0.1:8000/login/',
                            dataType:'json',
                            data:$('#emailLogin').serialize(),
                            success:function(data){
                                console.log(data)
                                var exp = new Date();
                                exp.setTime(exp.getTime() + 60 * 30000);//过期时间 30分钟
                                document.cookie = 'jwt=' + escape(data['token']) + ";expires=" + exp.toGMTString() + ";path=/";
                                document.cookie = 'user=' + escape(data.user['username']) + ";expires=" + exp.toGMTString() + ";path=/";
                                location.reload()
                            }
                        })
                    }
                })
            })
        }
        $('#signUp').click(function(){
            $('#signUpModal').modal('show');
            $('#signInModalNormal').modal('hide');
        })
        $('#resetPassword').click(function(){
            $('#resetPasswordModal').modal('show');
            $('#signInModalNormal').modal('hide');
        })
    })
    
    
    </script>
    <script>
      $.ajaxSetup({
          data: {csrfmiddlewaretoken: '{{ csrf_token }}' }
      });
      var loginSign;
      {% if not has_login %}
          // 点击登录
          $('#signInNormal').click(function () {
              refreshVcode('signin');
              $('#signInModalNormal').modal('show');
              $('#signInVcodeImg').click(function () {
                  refreshVcode('signin');
              });
              $('#signInPost').click(function () {
                  var email = $('#signInId').val();
                  var password = $('#signInPassword').val();
                  var vcode = $('#signInVcode').val();
                  if(!checkEmail(email)){
                      $('#signInId').val('');
                      $('#signInId').attr('placeholder', '邮件格式错误');
                      $('#signInId').css('border', '1px solid red');
                      return false;
                  }else{
                      $('#signInId').css('border', '1px solid #C1FFC1');
                  }
                  if(!password){
                      $('#signInPassword').attr('placeholder', '请填写密码');
                      $('#signInPassword').css('border', '1px solid red');
                  }else{
                      $('#signInPassword').css('border', '1px solid #C1FFC1');
                  }
                  $.ajax({
                  url: '/api/login_normal',
                  data: {
                      'email': email,
                      'password': password,
                      'sign': loginSign,
                      'vcode': vcode
                  },
                  type: 'post',
                  dataType: 'json',
                  success: function(res){
                      if (res.status === 200){
                          $('#signInModalNormal').modal('hide');
                          window.location.href = '/index';
                      }
                      else if(res.status === 300001) {
                          alert('用户名错误');
                      }
                      else if(res.status === 300002) {
                          alert('密码错误');
                      }
                      else if(res.status === 300003) {
                          alert('验证码错误');
                      }
                      else {
                          alert('登录错误');
                      }
                  }
              })
              });
              $('#signUp').click(function () {
                  refreshVcode('signup');
                  $('#signInModalNormal').modal('hide');
                  $('#signUpModal').modal('show');
                  $('#signInVcodeImg').click(function () {
                      refreshVcode('signup');
                  });
              });
              $('#signIn').click(function () {
                  refreshVcode('signin');
                  $('#signUpModal').modal('hide');
                  $('#signInModalNormal').modal('show');
                  $('#signInVcodeImg').click(function () {
                      refreshVcode('signup');
                  });
              });
              $('#signUpPost').click(function () {
                  var email = $('#signUpId').val();
                  var password = $('#signUpPassword').val();
                  var passwordAgain = $('#signUpPasswordAgain').val();
                  var vcode = $('#signUpVcode').val();
                  if(!checkEmail(email)) {
                      $('#signUpId').val('');
                      $('#signUpId').attr('placeholder', '邮箱格式错误');
                      $('#signUpId').css('border', '1px solid red');
                      return false;
                  }else{
                      $('#signUpId').css('border', '1px solid #C1FFC1');
                  }
                  if(!(password === passwordAgain)) {
                      $('#signUpPasswordAgain').val('');
                      $('#signUpPasswordAgain').attr('placeholder', '两次密码输入不一致');
                      $('#signUpPassword').css('border', '1px solid red');
                      $('#signUpPasswordAgain').css('border', '1px solid red');
                      return false;
                  }else{
                      $('#signUpPassword').css('border', '1px solid #C1FFC1');
                      $('#signUpPasswordAgain').css('border', '1px solid #C1FFC1');
                  }
                  $.ajax({
                      url: '/api/signup',
                      type: 'post',
                      data: {
                          'email': email,
                          'password': password,
                          'password_again': passwordAgain,
                          'sign': loginSign,
                          'vcode': vcode
                      },
                      dataType: 'json',
                      success: function (res) {
                          if(res.status === 200) {
                              sign = res.data.sign;
                              email = res.data.email;
                              window.location.href = '/auth/signup_redirect?email=' + email + '&sign=' + sign;
                          }
                          else if(res.status === 300002) {
                              alert('两次输入密码不一致');
                          }
                          else if(res.status === 300003) {
                              alert('验证码错误');
                          }
                          else if(res.status === 300004) {
                              alert('用户名已存在');
                          }
                      }
                  })
              });
              $('#resetPassword').click(function () {
                  resetPassword();
              })
          });
      {% else %}
          var userId = {% if request.session.uid %}'{{ request.session.username|safe }}'{% else %}"登录"{% endif %}
          $('#signInButton').html(userId);
          strHTML = "<li><a href=\"/logout\">注销</a></li><li id=\"resetPassword\"><a href=\"#\">修改密码</a></li>";
          $('#signInDropdownMenu').html(strHTML);
      {% endif %}

      $('#resetPassword').click(function () {
          resetPassword()
      });

      $('#searchCom').click(function () {
          window.location.href = '/bs/search?uid={% if request.session.uid %}{{ request.session.uid.uid }}{% endif %}&keyword=' + $('#searchKeyWord').val();
          return false;
      });

      var refreshVcode = function (label) {
          $.ajax({
              url: '/api/login_vcode',
              data: {},
              dataType: 'json',
              type: 'get',
              success: function (res) {
                  if (res.status === 200) {
                      loginSign = res.data.sign;
                      if(label === 'signin') {
                          $('#signInVcodeImg').attr('src', "data:image/png;base64," + res.data.vcode);
                      }
                      if(label === 'signup') {
                          $('#signUpVcodeImg').attr('src', "data:image/png;base64," + res.data.vcode);
                      }
                  }
              }
          });
      }
  </script>
  <script>
      function getCookie(c_name)
      {
          if (document.cookie.length>0)
          {
              c_start=document.cookie.indexOf(c_name + "=");
              if (c_start!==-1)
              {
                  c_start=c_start + c_name.length+1;
                  c_end=document.cookie.indexOf(";",c_start);
                  if (c_end===-1) c_end=document.cookie.length;
                  return unescape(document.cookie.substring(c_start,c_end))
              }
          }
          return ""
      }

      function setCookie(c_name,value,expiredays)
      {
          var exdate=new Date();
          exdate.setDate(exdate.getDate()+expiredays);
          document.cookie=c_name+ "=" +escape(value)+
              ((expiredays==null) ? "" : "; expires="+exdate.toGMTString())
      }

      function checkEmail(email) {
          return email.match('^\\w+([-+.]\\w+)*@\\w+([-.]\\w+)*\\.\\w+([-.]\\w+)*$')
      }

      function checkPassword(password) {
          return password.match('^\\w{6,18}$');
      }

      function  resetPassword() {
          $('#signInModalNormal').modal('hide');
                  $('#resetPasswordModal').modal('show');
                  $('#resetPost').click(function () {
                      var email = $('#resetId').val();
                      var newPassword = $('#resetNewPassword').val();
                      var newPasswordAgain = $('#resetNewPasswordAgain').val();
                      if(!checkEmail(email)) {
                          $('#resetId').val('');
                          $('#resetId').attr('placeholder', '邮件格式错误');
                          $('#resetId').css('border', '1px solid red');
                          return false;
                      }else{
                          $('#resetId').css('border', '1px solid #C1FFC1');
                      }
                      if(!(newPassword === newPasswordAgain)){
                          $('#resetNewPasswordAgain').val('');
                          $('#resetNewPasswordAgain').attr('placeholder', '两次输入密码不一致');
                          $('#resetNewPassword').css('border', '1px solid red');
                          $('#resetNewPasswordAgain').css('border', '1px solid red');
                          return false;
                      }else{
                          $('#resetNewPassword').css('border', '1px solid #C1FFC1');
                          $('#resetNewPasswordAgain').css('border', '1px solid #C1FFC1');
                      }
                      $('#resetPasswordLoading').modal('show');
                      $.ajax({
                          url: '/api/resetpasswd',
                          type: 'post',
                          data: {
                              'email': email,
                              'new_password': newPassword,
                              'new_password_again': newPasswordAgain
                          },
                          dataType: 'json',
                          success: function (res) {
                              if(res.status === 200) {
                                  alert('发送成功!');
                                  window.location.href = '/index' + {% if request.session.uid %} '?uid={{ request.session.uid|safe }}'{% else %} '' {% endif %}
                              }
                              else if(res.status === 300005) {
                                  $('#sendMailLoading').modal('hide');
                                  alert('您已发送过邮件，请稍后再试');
                                  window.location.href = '/index' + {% if request.session.uid %} '?uid={{ request.session.uid|safe }}'{% else %} '' {% endif %}
                              }
                              else if(res.status === 300006) {
                                  alert('邮件发送失败');
                                  window.location.href = '/index' + {% if request.session.uid %} '?uid={{ request.session.uid|safe }}'{% else %} '' {% endif %}
                              }
                          }
                      });
                      return false;
                  })
      };
      $('#home').click(function () {
          window.location.href = '/index{% if request.session.uid %}?uid={{ request.session.uid }}{% else %}{% endif %}';
      })
  </script>
  </body>
  <script src="//cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script>
    $(function(){
        if($.cookie('jwt')){
        console.log($.cookie('jwt'))
        var hr = window.location.href
        var grade = 0
        num = hr.split('=')[1]
        if (num){
            $.get('http://127.0.0.1:8000/message/'+ num +'/' , function(dic){
                $('.title').html(dic.title)
                var cookie_time = $.cookie(dic.id+'')
                if (cookie_time){
                    max_time = cookie_time
                }else{
                    var max_time = dic.max_time*60
                }
                // max_time = dic.max_time*60
                
                It = setInterval(function(){
                    max_time-=1
                    $('#max_time').html(max_time)
                    $.cookie(dic.id, max_time, { expires: 7 });
                    if (max_time<=0){
                        $.removeCookie(dic.id+'')
                        alert('考试时间到了')
                        clearInterval(It)
                        $.ajax({
                        url:'http://127.0.0.1:8000/score/',
                        type:'POST',
                        data:{
                            "message":dic.id,
                            "grade": grade,
                            'an_user':2,
                            // an_user':cookie('id')
                        },
                        success:function(){
                            $.removeCookie(dic.id+'')
                            clearInterval(It)
                            alert('提交完成')
                            window.location.href='http://127.0.0.1:5500/templates/competition/rank.html?grade='+grade
                        },
                        error:function(err){
                            console.log(err)
                        }

                    })
                    return
                    }
                }, 1000)
                var i = 0
                var dic_list = new Array();
                $('#message_title').html(
                    
                    dic.message_key[i].title+'('+ dic.message_key[i].types +')')
                    console.log(dic.message_key[i].types)
                    if (dic.message_key[i].types == '判断'){
                        $('#choiceBox').html(
                            '<div class="radio">'+
                        '<label id="item1Answer">'+
                        '√<input type="radio" name="value" id="" value="1">'+
                        '<label id="item1" for="itemRadio1"></label>'+
                        '</label>'+
                        '</div>'+
                        '<div class="radio">'+
                        '<label id="item1Answer">'+
                        '×<input type="radio" name="value" id="" value="0">'+
                        '<label id="item1" for="itemRadio1"></label>'+
                        '</label>'+
                        '</div>'
                        )
                    }
                    if (dic.message_key[i].types == '填空'){
                        $('#choiceBox').html(
                        '<div id="fullinBox" class="form-inline" style="text-align:center">'+
                        '<input type="text" class="form-control" id="value" placeholder="请输入答案"  style="width:400px" />'+
                        '<input type="hidden" id="answerPk" />'+
                        '</div>')
                    }
                    if (dic.message_key[i].types == '选择'){
                        // 选项
                        list_a = dic.message_key[i].options.split(',')
                        window.str = ''
                        
                        for(var f=0;  f<list_a.length; f++){
                            var option = list_a[f]
                            console.log(option)
                            window.str += '<div class="radio">'+
                            '<label id="item1Answer"><input type="radio" name="value" id="" value="'+ list_a[f].split(':')[0] +'">'+list_a[f]+
                            '<label id="item1" for="itemRadio1"></label>'+
                            '</label>'+
                            '</div>'      
                        }
                        console.log(window.str)
                        $('#choiceBox').html(window.str)
                    }
                $('#nextQuestion').click(function(){
                    var v = $("input[name='value']:checked").val()
                    if (dic.message_key[i].types == '填空'){
                        v =  $("input[name='value']").val()
                    }
                    dic_list[dic.message_key[i].id+''] = v
                    console.log(dic_list['2'])
                    i+=1
                    if (i>dic.message_key.length-1){
                        alert('这是最后一题啦')
                        i-=1
                    }
                    $('#message_title').html(
                    dic.message_key[i].title+'('+ dic.message_key[i].types +')')
                    if (dic.message_key[i].types == '判断'){
                        
                        $('#choiceBox').html(
                        '<div class="radio">'+
                        '<label id="item1Answer">'+
                        '√<input type="radio" name="value" id="" value="1">'+
                        '<label id="item1" for="itemRadio1"></label>'+
                        '</label>'+
                        '</div>'+
                        '<div class="radio">'+
                        '<label id="item1Answer">'+
                        '×<input type="radio" name="value" id="" value="0">'+
                        '<label id="item1" for="itemRadio1"></label>'+
                        '</label>'+
                        '</div>'
                        )
                    }
                    if (dic.message_key[i].types == '填空'){
                        $('#choiceBox').html(
                        '<div id="fullinBox" class="form-inline" style="text-align:center">'+
                        '<input type="text" class="form-control" id="answerF" name="value" placeholder="请输入答案"  style="width:400px" />'+
                        '</div>')
                                 }
                    if (dic.message_key[i].types == '选择'){
                        // 选项
                        list_a = dic.message_key[i].options.split(',')
                        window.str = ''
                        
                        for(var f=0;  f<list_a.length; f++){
                            var option = list_a[f]
                            console.log(option)
                            window.str += '<div class="radio">'+
                            '<label id="item1Answer"><input type="radio" name="value" id="" value="'+ list_a[f].split(':')[0] +'">'+list_a[f]+
                            '</label>'+
                            '</div>'      
                        }
                        console.log(window.str)
                        $('#choiceBox').html(window.str)
                    }
                
                })
                
                $('#preQuestion').click(function(){
                    i-=1
                    if (i<0){
                        alert('这是第一题啦')
                        i+=1
                    }
                    $('#message_title').html(dic.message_key[i].title+'('+ dic.message_key[i].types +')')
                    console.log(dic.message_key[i].types)
                    if (dic.message_key[i].types == '判断'){
                        $('#choiceBox').html(
                        '<div class="radio">'+
                        '<label id="item1Answer">'+
                        '√<input type="radio" name="value" id="" value="1">'+
                        '<label id="item1" for="itemRadio1"></label>'+
                        '</label>'+
                        '</div>'+
                        '<div class="radio">'+
                        '<label id="item1Answer">'+
                        '×<input type="radio" name="value" id="" value="0">'+
                        '<label id="item1" for="itemRadio1"></label>'+
                        '</label>'+
                        '</div>'
                        )
                    }
                    if (dic.message_key[i].types == '填空'){
                        $('#choiceBox').html(
                            
                        '<div id="fullinBox" class="form-inline" style="text-align:center">'+
                        '<input type="text" class="form-control" name="value" placeholder="请输入答案"  style="width:400px" />'+
                        '<input type="hidden" id="answerPk" />'+
                        '</div>')
                    }
                    if (dic.message_key[i].types == '选择'){
                        // 选项
                        list_a = dic.message_key[i].options.split(',')
                        window.str = ''
                        
                        for(var f=0;  f<list_a.length; f++){
                            var option = list_a[f]
                            console.log(option)
                            window.str += '<div class="radio">'+
                            '<label id="item1Answer"><input type="radio" name="value" id="" value="'+ list_a[f].split(':')[0] +'">'+list_a[f]+
                            '</label>'+
                            '</div>'      
                        }
                        console.log(window.str)
                        $('#choiceBox').html(window.str)
                    }
                })
                $('#answerSubmit').click(function(){
                    
                var v = $("input[name='value']:checked").val()
                    if (dic.message_key[i].types == '填空'){
                        v =  $("input[name='value']").val()
                    }
                    dic_list[dic.message_key[i].id+''] = v
                    // console.log(dic.message_key[0].id)
                    for (key in dic_list){
                        for(var m=0;m<dic_list.length-2;m++){
                            console.log(dic_list)
                            if (dic.message_key[m].id+'' == key){
                                if(dic.message_key[m].answer == dic_list[key]){
                                    grade+=dic.message_key[m].grade
                                }
                            }
                        } 
                    }
                    console.log(grade)  
                    $.ajax({
                        url:'http://127.0.0.1:8000/score/',
                        type:'POST',
                        data:{
                            "message":dic.id,
                            "grade": grade,
                            "an_user":2,
                            "jwt":$.cookie('jwt')
                            // an_user':cookie('id')
                        },
                        success:function(){
                            $.removeCookie(dic.id+'')
                            clearInterval(It)
                            alert('提交完成')
                            window.location.href='http://127.0.0.1:5500/templates/competition/rank.html?grade='+grade
                        },
                        error:function(err){
                           
                            console.log(err)
                        }

                    })
            })
               
            })
            
        }
        else{
            window.location.href='http://127.0.0.1:5500/templates/web/'
        }}
        else{
            window.location.href='http://127.0.0.1:5500/templates/web/'
        }
    })
</script>
</html>


