<!DOCTYPE html>
<html lang="zh-CN">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>排行榜</title>
      <link rel="stylesheet" type="text/css" href="../../static/css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="../../static/css/style.css">
      <script src="../../static/js/jquery.min.js"></script>
      <!--bootstrap核心js-->
      <script src="../../static/js/bootstrap.min.js"></script>
      <style>
        .cate {
            padding-bottom: 20px;
        }
        .modal-dialog {
            padding-top : 200px;
        }
    </style>
    <style>  
        .yz{
            width: 60%;
            height: 50px;
            line-height: 50px;
            display: inline-table;
        }
        .yz_code{
            float: left;
            width: 140px;
            text-align: center;
            height: 100%;
            border: 1px solid #000;
            margin-right: 20px;
        }
        button{
            margin-top: 24px;
            font-size: 16px;
            border: none;
            background: transparent;
            border-bottom: 1px solid blue;
        }
    </style>
  </head>
  <body>
  <div class="main-container">
    <div class="top-container" >
        <div class="newIndex-header container" style="background-image: url('../../static/images/logo.png');">
        <!--nav_menu-->

        <ul id="nav_menu" class="nav_menu clearfix">
            <li class="nLi no">
                <h3>
                    <a  href="../web/index.html">首页</a>
                </h3>
            </li>
            <li class="nLi">
                <h3>
                    <a  href="../setgames/bank.html">快速出题</a>
                </h3>
            </li>
            <li class="nLi">
                <h3>
                    <a  href="../bussiness/index.html">成为机构</a>
                </h3>
            </li>
            <li class="nLi" id='login1'>
                
            </li>
            <li class="nLi login" id='logout1'>
                
            </li>
        </ul>
        <!--end nav_menu -->
        </div>
    </div>
  <div class="modal" id="signInModalNormal" tabindex="-1" role="dialog" aria-labelledby="signInModalNormalLabel">
      <form id="emailLogin">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="signInModalNormalLabel">登录</h4>
      </div>
      <div class="modal-body">
        <form>
            <div class="form-group">
                <label for="signInId" >账号</label>
                <input type="text" class="form-control" id="signInId" placeholder="" name='username'>
            </div>
            <div class="form-group">
                <label for="signInPassword" >密码</label>
                <input type="password" class="form-control" id="signInPassword" placeholder="" name='password'>
            </div>
            <div class="form-group">
                <label for="signInVcode" >验证码</label><br>
                <input type="text" class="form-control" id="signUpVcode" style="width: 150px;display: inline-block;" placeholder="">
                <div class="yz">
                    <div class="yz_code"></div>
                    <b class="btn"></b>
                </div>
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <a href="http://127.0.0.1:8000/login/weibo/">微博登录 </a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a href="#" id="resetPassword" style="margin-right: 10px;" >忘记密码？</a>
          <a href="#" id="signUp" style="margin-right: 30px;" >注册</a>
          <button type="button" class="btn btn-primary" id="signInPost">登录</button>
      </div>
    </div>
  </div>
  </form>
  </div>

  <div class="modal" id="signUpModal" tabindex="-1" role="dialog" aria-labelledby="signUpModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="signUpModalLabel">注册</h4>
      </div>
      <div class="modal-body">
        <form>
            <div class="form-group">
                <label for="signUpId" >邮箱</label>
                <input type="text" class="form-control" id="signUpId" placeholder="hugo.zhang@example.com">
            </div>
            <div class="form-group">
                <label for="signUpPassword" >密码</label>
                <input type="password" class="form-control" id="signUpPassword" placeholder="#p@ssw0d123">
            </div>
            <div class="form-group">
                <label for="signUpPasswordAgain" >确认密码</label>
                <input type="password" class="form-control" id="signUpPasswordAgain" placeholder="#p@ssw0d123">
            </div>
            <div class="form-group">
                <label for="signUpVcode" >验证码</label>
                <input type="text" class="form-control" id="signUpVcode" placeholder="">
                <img id="signUpVcodeImg" src="" style="height: 50px;width: 150px;" />
            </div>
        </form>
      </div>
      <div class="modal-footer">
          <a href="#" id="signIn" style="margin-right: 30px;" >已有账户，去登录</a>
          <button type="button" class="btn btn-primary" id="signUpPost">注册</button>
      </div>
    </div>
  </div>
  </div>

  <div class="modal" id="resetPasswordModal" tabindex="-1" role="dialog" aria-labelledby="resetPasswordModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="resetPasswordLabel">重置密码</h4>
      </div>
      <div class="modal-body">
        <form>
            <div class="form-group">
                <label for="resetId" >邮箱</label>
                <input type="text" class="form-control" id="resetId" placeholder="hugo.zhang@example.com">
            </div>
            <div class="form-group">
                <label for="resetNewPassword" >新密码</label>
                <input type="password" class="form-control" id="resetNewPassword" placeholder="p@ssw0rd123">
            </div>
            <div class="form-group">
                <label for="resetNewPasswordAgain">再次输入密码</label>
                <input type="password" class="form-control" id="resetNewPasswordAgain" placeholder="p@ssw0rd123">
            </div>
            <div class="form-group">
                <p style="color: red">邮件发送后，请在三十分钟之内登录邮箱确认!</p>
            </div>
        </form>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="resetPost">发送邮件</button>
      </div>
    </div>
  </div>
  </div>
  <!-- loading -->
    <div class="modal fade" id="resetPasswordLoading" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop='static'>
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">提示</h4>
                </div>
                <div class="modal-body">
                    <h1>正在发送邮件中...</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="main-content container">
        <div class="position toInWhere">
            <b>当前位置：</b><span>
                <a onclick="canNav(2,0);">比赛结果</a>
            </span>&nbsp;&gt;&nbsp;<span>排行榜</span>
        </div>
        <div class="inner-content">
            <div class="xxdj-report border zycs_text" style="min-height: 1000px;">
                <div class="course-report">
                    <h1 style="background: url(../static/images/course-h1.jpg) no-repeat center top;">排行榜</h1>
                        <div class="col-md-9">
                             <div class="course-report">
                                    <table style="margin-top: 15px;" class="table table-hover" id='voice'>
                                    <tr>
                                        <th>排名</th>
                                        <th>昵称</th>
                                        <th>得分</th>
                                        <th>时间</th>
                                    </tr>
                                   
                                </table>
                            </div>
                        </div>
                        <div class="col-md-3" style="margin-top: 20px;padding-left: 20px;">
                            <div class="panel panel-success" id='bc'>
                                <div class="panel-heading panel-danger" style="text-align:center">历史最佳排名</div>
                                <div class="panel-body" id="myRank">
                                    <div id="myResult">
                                        本次得分<span id='fen'></span>
                                    </div>
                                    <div style="padding: 10px 0">
                                     <a class="btn btn-info" href="http://127.0.0.1:5500/templates/web/">回首页</a>
                                     <a class="btn btn-info" href="http://127.0.0.1:5500/templates/competition/">去答题</a>
                                    </div>
                                </div>
                                <div class="panel-footer panel-success"></div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <script>
        $(document).ready(function () {
            $.ajax({
                url: '/api/myrank',
                data: {
                    uid: '{{ request.session.uid|safe }}',
                    kind_id: '{{ kind_info.kind_id|safe }}'
                },
                dataType: 'json',
                type: 'get',
                success: function (res) {
                    if(res.status === 200) {
                        var rank  = res.data.rank;
                        var timer = res.data.time / 1000 ;
                        if (rank){
                            var myResult = '<label><h4><b>我的排名:</b>&nbsp;&nbsp; 第<span class="rank" style="color:red">'+ rank + '</span>名</h4></label>'
                                            + '<label><h4><b>我的用时:</b>&nbsp;&nbsp; <span class="timer" style="color:red">' + timer + '</span>秒</h4></label>'
                        }else {
                            var myResult = '<label><h4>您还没有参加比赛哦！<label><h4>'
                        }
                        $('#myResult').html(myResult)
                    }
                }
            })
        })
    </script>

    <div class="footer">
    <div class="footer-nav">
        <a href="/index">首页</a>|
        <a href="http://www.mingrisoft.com">明日学院官网</a>|
        <a href="https://mall.jd.com/index-1000117165.html">明日科技京东自营店</a>|
        <a href="https://shop573124214.taobao.com">明日科技官方淘宝店铺</a>
    </div>
    <div id="j_footer" class="copy">吉林省明日科技有限公司&nbsp;&nbsp;&nbsp;&nbsp;
        <br>吉ICP备10002740号-2 &nbsp;增值电信业务经营许可证 吉B2-20150068
    </div>
  </div>
  </div>
  <script type="text/javascript">
    $(function(){
        var jwt = document.cookie.match('jwt=([^;]*)(;|$)')
        var user = document.cookie.match('user=([^;]*)(;|$)')
    
        var type1 = false;
            function rnd(start,end){
                    return Math.floor(Math.random()*(end-start+1))+start;
                }
    
                var str ="0123456789abcdefghijklmnopqrstuvwxyz";
                // 生成6位数字验证码
                function code(){
                    var arr = [];
                    for(var i = 0;i<6;i++){
                        arr[i] = str.charAt(rnd(0,str.length-1));
                    }
                    // 将数组转化为字符串
                    res = arr.join("")
                    $('.yz_code').html(res);
                }
            // 首次进入时展示的验证码
                code();
                $('.yz_code').click(function() {
                    code();
                    
                });
         
        if (jwt){   
            if (jwt[1] != 0){
                $('#login1').append('<h3><a href="#" title="用户信息">'+user[1]+'</a></h3>')
                $('#logout1').append('<h3><a id="logout" title="点击退出">注销</a></h3>')
                $('#logout').click(function(){
                    document.cookie = 'jwt=0' + ";expires=-1;path=/";
                    document.cookie = 'user=0' + ";expires=-1;path=/";
                    location.reload()
                })
            }else{
                $('#login1').append('<h3><a id="log">登 录</a></h3>')
                $('#log').click(function(){
                    $('#signInModalNormal').modal('show');
                    $('#signInPost').click(function(){
                        if ($('#signUpVcode').val() == res){
                            $.ajax({
                                type:'post',
                                url:'http://127.0.0.1:8000/login/',
                                dataType:'json',
                                data:$('#emailLogin').serialize(),
                                success:function(data){
                                    console.log(data)
                                    var exp = new Date();
                                    exp.setTime(exp.getTime() + 60 * 30000);//过期时间 30分钟
                                    document.cookie = 'jwt=' + escape(data['token']) + ";expires=" + exp.toGMTString() + ";path=/";
                                    document.cookie = 'user=' + escape(data.user['username']) + ";expires=" + exp.toGMTString() + ";path=/";
                                    document.cookie = 'id=' + escape(data.user['id']) + ";expires=" + exp.toGMTString() + ";path=/";
                                    location.reload()
                                }
                            })
                        }
                    })
                })
            }
        }else{
            $('#login1').append('<h3><a id="log">登 录</a></h3>')
            $('#log').click(function(){
                $('#signInModalNormal').modal('show');
                $('#signInPost').click(function(){
                    if ($('#signUpVcode').val() == res){
                        $.ajax({
                            type:'post',
                            url:'http://127.0.0.1:8000/login/',
                            dataType:'json',
                            data:$('#emailLogin').serialize(),
                            success:function(data){
                                console.log(data)
                                var exp = new Date();
                                exp.setTime(exp.getTime() + 60 * 30000);//过期时间 30分钟
                                document.cookie = 'jwt=' + escape(data['token']) + ";expires=" + exp.toGMTString() + ";path=/";
                                document.cookie = 'user=' + escape(data.user['username']) + ";expires=" + exp.toGMTString() + ";path=/";
                                document.cookie = 'id=' + escape(data.user['id']) + ";expires=" + exp.toGMTString() + ";path=/";
                                location.reload()
                            }
                        })
                    }
                })
            })
        }
        $('#signUp').click(function(){
            $('#signUpModal').modal('show');
            $('#signInModalNormal').modal('hide');
        })
        $('#resetPassword').click(function(){
            $('#resetPasswordModal').modal('show');
            $('#signInModalNormal').modal('hide');
        })
    })
    
    
    </script>
    <script>
      $.ajaxSetup({
          data: {csrfmiddlewaretoken: '{{ csrf_token }}' }
      });
      var loginSign;
      {% if not has_login %}
          // 点击登录
          $('#signInNormal').click(function () {
              refreshVcode('signin');
              $('#signInModalNormal').modal('show');
              $('#signInVcodeImg').click(function () {
                  refreshVcode('signin');
              });
              $('#signInPost').click(function () {
                  var email = $('#signInId').val();
                  var password = $('#signInPassword').val();
                  var vcode = $('#signInVcode').val();
                  if(!checkEmail(email)){
                      $('#signInId').val('');
                      $('#signInId').attr('placeholder', '邮件格式错误');
                      $('#signInId').css('border', '1px solid red');
                      return false;
                  }else{
                      $('#signInId').css('border', '1px solid #C1FFC1');
                  }
                  if(!password){
                      $('#signInPassword').attr('placeholder', '请填写密码');
                      $('#signInPassword').css('border', '1px solid red');
                  }else{
                      $('#signInPassword').css('border', '1px solid #C1FFC1');
                  }
                  $.ajax({
                  url: '/api/login_normal',
                  data: {
                      'email': email,
                      'password': password,
                      'sign': loginSign,
                      'vcode': vcode
                  },
                  type: 'post',
                  dataType: 'json',
                  success: function(res){
                      if (res.status === 200){
                          $('#signInModalNormal').modal('hide');
                          window.location.href = '/index';
                      }
                      else if(res.status === 300001) {
                          alert('用户名错误');
                      }
                      else if(res.status === 300002) {
                          alert('密码错误');
                      }
                      else if(res.status === 300003) {
                          alert('验证码错误');
                      }
                      else {
                          alert('登录错误');
                      }
                  }
              })
              });
              $('#signUp').click(function () {
                  refreshVcode('signup');
                  $('#signInModalNormal').modal('hide');
                  $('#signUpModal').modal('show');
                  $('#signInVcodeImg').click(function () {
                      refreshVcode('signup');
                  });
              });
              $('#signIn').click(function () {
                  refreshVcode('signin');
                  $('#signUpModal').modal('hide');
                  $('#signInModalNormal').modal('show');
                  $('#signInVcodeImg').click(function () {
                      refreshVcode('signup');
                  });
              });
              $('#signUpPost').click(function () {
                  var email = $('#signUpId').val();
                  var password = $('#signUpPassword').val();
                  var passwordAgain = $('#signUpPasswordAgain').val();
                  var vcode = $('#signUpVcode').val();
                  if(!checkEmail(email)) {
                      $('#signUpId').val('');
                      $('#signUpId').attr('placeholder', '邮箱格式错误');
                      $('#signUpId').css('border', '1px solid red');
                      return false;
                  }else{
                      $('#signUpId').css('border', '1px solid #C1FFC1');
                  }
                  if(!(password === passwordAgain)) {
                      $('#signUpPasswordAgain').val('');
                      $('#signUpPasswordAgain').attr('placeholder', '两次密码输入不一致');
                      $('#signUpPassword').css('border', '1px solid red');
                      $('#signUpPasswordAgain').css('border', '1px solid red');
                      return false;
                  }else{
                      $('#signUpPassword').css('border', '1px solid #C1FFC1');
                      $('#signUpPasswordAgain').css('border', '1px solid #C1FFC1');
                  }
                  $.ajax({
                      url: '/api/signup',
                      type: 'post',
                      data: {
                          'email': email,
                          'password': password,
                          'password_again': passwordAgain,
                          'sign': loginSign,
                          'vcode': vcode
                      },
                      dataType: 'json',
                      success: function (res) {
                          if(res.status === 200) {
                              sign = res.data.sign;
                              email = res.data.email;
                              window.location.href = '/auth/signup_redirect?email=' + email + '&sign=' + sign;
                          }
                          else if(res.status === 300002) {
                              alert('两次输入密码不一致');
                          }
                          else if(res.status === 300003) {
                              alert('验证码错误');
                          }
                          else if(res.status === 300004) {
                              alert('用户名已存在');
                          }
                      }
                  })
              });
              $('#resetPassword').click(function () {
                  resetPassword();
              })
          });
      {% else %}
          var userId = {% if request.session.uid %}'{{ request.session.username|safe }}'{% else %}"登录"{% endif %}
          $('#signInButton').html(userId);
          strHTML = "<li><a href=\"/logout\">注销</a></li><li id=\"resetPassword\"><a href=\"#\">修改密码</a></li>";
          $('#signInDropdownMenu').html(strHTML);
      {% endif %}

      $('#resetPassword').click(function () {
          resetPassword()
      });

      $('#searchCom').click(function () {
          window.location.href = '/bs/search?uid={% if request.session.uid %}{{ request.session.uid.uid }}{% endif %}&keyword=' + $('#searchKeyWord').val();
          return false;
      });

      var refreshVcode = function (label) {
          $.ajax({
              url: '/api/login_vcode',
              data: {},
              dataType: 'json',
              type: 'get',
              success: function (res) {
                  if (res.status === 200) {
                      loginSign = res.data.sign;
                      if(label === 'signin') {
                          $('#signInVcodeImg').attr('src', "data:image/png;base64," + res.data.vcode);
                      }
                      if(label === 'signup') {
                          $('#signUpVcodeImg').attr('src', "data:image/png;base64," + res.data.vcode);
                      }
                  }
              }
          });
      }
  </script>
  <script>
      function getCookie(c_name)
      {
          if (document.cookie.length>0)
          {
              c_start=document.cookie.indexOf(c_name + "=");
              if (c_start!==-1)
              {
                  c_start=c_start + c_name.length+1;
                  c_end=document.cookie.indexOf(";",c_start);
                  if (c_end===-1) c_end=document.cookie.length;
                  return unescape(document.cookie.substring(c_start,c_end))
              }
          }
          return ""
      }

      function setCookie(c_name,value,expiredays)
      {
          var exdate=new Date();
          exdate.setDate(exdate.getDate()+expiredays);
          document.cookie=c_name+ "=" +escape(value)+
              ((expiredays==null) ? "" : "; expires="+exdate.toGMTString())
      }

      function checkEmail(email) {
          return email.match('^\\w+([-+.]\\w+)*@\\w+([-.]\\w+)*\\.\\w+([-.]\\w+)*$')
      }

      function checkPassword(password) {
          return password.match('^\\w{6,18}$');
      }

      function  resetPassword() {
          $('#signInModalNormal').modal('hide');
                  $('#resetPasswordModal').modal('show');
                  $('#resetPost').click(function () {
                      var email = $('#resetId').val();
                      var newPassword = $('#resetNewPassword').val();
                      var newPasswordAgain = $('#resetNewPasswordAgain').val();
                      if(!checkEmail(email)) {
                          $('#resetId').val('');
                          $('#resetId').attr('placeholder', '邮件格式错误');
                          $('#resetId').css('border', '1px solid red');
                          return false;
                      }else{
                          $('#resetId').css('border', '1px solid #C1FFC1');
                      }
                      if(!(newPassword === newPasswordAgain)){
                          $('#resetNewPasswordAgain').val('');
                          $('#resetNewPasswordAgain').attr('placeholder', '两次输入密码不一致');
                          $('#resetNewPassword').css('border', '1px solid red');
                          $('#resetNewPasswordAgain').css('border', '1px solid red');
                          return false;
                      }else{
                          $('#resetNewPassword').css('border', '1px solid #C1FFC1');
                          $('#resetNewPasswordAgain').css('border', '1px solid #C1FFC1');
                      }
                      $('#resetPasswordLoading').modal('show');
                      $.ajax({
                          url: '/api/resetpasswd',
                          type: 'post',
                          data: {
                              'email': email,
                              'new_password': newPassword,
                              'new_password_again': newPasswordAgain
                          },
                          dataType: 'json',
                          success: function (res) {
                              if(res.status === 200) {
                                  alert('发送成功!');
                                  window.location.href = '/index' + {% if request.session.uid %} '?uid={{ request.session.uid|safe }}'{% else %} '' {% endif %}
                              }
                              else if(res.status === 300005) {
                                  $('#sendMailLoading').modal('hide');
                                  alert('您已发送过邮件，请稍后再试');
                                  window.location.href = '/index' + {% if request.session.uid %} '?uid={{ request.session.uid|safe }}'{% else %} '' {% endif %}
                              }
                              else if(res.status === 300006) {
                                  alert('邮件发送失败');
                                  window.location.href = '/index' + {% if request.session.uid %} '?uid={{ request.session.uid|safe }}'{% else %} '' {% endif %}
                              }
                          }
                      });
                      return false;
                  })
      };
      $('#home').click(function () {
          window.location.href = '/index{% if request.session.uid %}?uid={{ request.session.uid }}{% else %}{% endif %}';
      })
  </script>
  </body>

<script>
    $(function(){
        var hr = window.location.href
        var garde = hr.split('=')[1]
        console.log(garde)
        if(garde){
            $('#fen').html(garde)
        }else(
            $('#bc').css({
                'display':'None'
            })
        )
        
        $.get('http://127.0.0.1:8000/score/', function(dic){
            // console.log(dic)
            for(i=0; i<dic.length;i++){

                $('#voice').append(
                '<tr>'+
                '<td><b style="color:red">'+ (Number(i)+Number(1)) +'</b></td>'+
                '<td>'+ dic[i].an_user +'</td>'+
                '<td>'+ dic[i].grade +'</td>'+
                '<td>'+ dic[i].add_time +'</td>'+
                '</tr>'
            )
            }
            
            

})
})

</script>
</html>


